use_nvm() {
  local node_version=$(cat frontend/.nvmrc)

  nvm_user=~/.nvm/nvm.sh
  nvm_global=/usr/share/nvm/nvm.sh
  if [[ -e $nvm_user ]]; then
    source $nvm_user
    nvm use $node_version
  elif [[ -e $nvm_global ]]; then
    source $nvm_global
    nvm use $node_version
  fi
}

[ -d backend/.venv ] || uv venv --project backend
source_env backend/.venv/bin/activate

use_nvm
