BOT_TOKEN=your_telegram_bot_token # Токен вашего чат-бота в Telegram
ADMIN_CHAT_ID=123456789 #ID телеграм-чата, в котором находится администрация тех.поддержки

# Данные необходимые для базы данных PostgreSQL
DB_NAME=faunistica
DB_HOST=localhost
DB_PORT=5432
DB_USER=faunistica
DB_PASSWORD=faunistica

JWT_SECRET=dev_secret_change_in_production_min_32_chars
ACCESS_TOKEN_EXPIRE=30
REFRESH_TOKEN_EXPIRE=30

ENCRYPT_SECRET=your_encrypt_secret
