# =============== ОБЯЗАТЕЛЬНО ===============
BOT_TOKEN=
ADMIN_CHAT_ID=
JWT_SECRET=
DB_PASSWORD=

# =============== ОПЦИОНАЛЬНО ===============
DB_NAME=faunistica
DB_HOST=db
DB_PORT=5432
DB_USER=faunistica
BOT_PROXY=
LOG_LEVEL=WARNING
